# ignore data directory
data/*.py

# ignore rl_sudoku_llada directory
rl_sudoku_llada/

logs/

wandb/

*pycache*

eval_results/

*undertest*

projects/

*.png

*sorted*

*.log

*copy*

tempbash*
outputs/